.container-fluid{
  width: 100%;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

main{
  width: 90%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1{
  width: 100%;
  margin: 35px 0;
  text-align: center;
  font-size: 32px;
}

p{
  background-image: none;
  padding-left: 10px;
}

.cajaPrincipal{
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  padding-top: 0;
}

#i{
  font-size: 35px;
  margin: 10px;
}

.mapa{
  width: 100%;
  height: 18%;
  margin-bottom: 15px;
}

.contacto{
  width: 100%;
  display: inline-flex;
  font-size: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.contactoEmail{
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.textoContacto{
  width: 90%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

.email{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

label{
  font-size: 14px;
  margin-top: 10px;
}

#email{
  border: solid 1px lightgrey;
  background-color: #F4F4F4;
  border-radius: 4%;
  height: 34px;
  padding-left: 5px;
  font-size: 13px;
  width: 170px;
}

#comentario{
  width: 90%;
  border: 1px solid lightgray;
}

.button{
  margin-bottom: 15px;
}

.carrito i{
  padding-top: 0px;
}

@media (min-width: 768px) {
  .contacto{
    width: 70%;
  }

  .textoContacto{
    width: 100%;
  }
}

@media (min-width: 1024px){
    .container {
      margin-top: 80px;
  }

  .head {
      top: 0;
  }

  h1{
      width: 100%;
      text-align: center;
      font-size: 35px;
  }

  .cajaPrincipal{
      text-align: center;
  }

  main div .contacto{
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 2%;
      margin-bottom: 2%;
      text-align: center;
      float: left;
  }

  main div .textoContacto{
        font-weight: bold;
  }
}
