.container-fluid{
  width: 100%;
  padding: 0;
}

main{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.primavera{
  width: 100%;
  height: auto;
}

section{
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5px;
  margin-top: 15px;
}

strong{
  font-size: 25px;
}

div .prod1{
  flex-wrap: wrap;
  text-align: center;
  background-color: white;
  border-radius: 10%;
  width: 99%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  margin-top: 5px;
  justify-content: center;
}

.iphone{
  width: 60%;
  padding-bottom: 10px;
  padding-top: 8px;
}

div .prod2{
  flex-wrap: wrap;
  text-align: center;
  background-color: white;
  border-radius: 10%;
  width: 99%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  margin-top: 5px;
  justify-content: center;
}

div .prod2 img{
  width: 70%;
  padding-bottom: 5px;
  padding-top: 8px;
  margin-top: 14px;
  margin-left: 10px;
  margin-bottom: 1px;
}

.lancha{
  width: 100%;
  padding-bottom: 5px;
  padding-top: 8px;
}

div .envios {
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: center;
}

div .envios img{
  width: 30%;
  height: auto;
  padding-top: 25px;
}

div .envios p{
  font-size: 19px;
  width: 100%;
  margin-bottom: 0;
  margin-top: 10px;
}

div .photo-container{
  text-align: center;
  position: relative;
  width: 98%;
}

.dia-madre{
  width: 100%;
  height: auto;
  margin-top: 25px;
  padding-left: 2px;
  padding-right: 2px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.fifty-off{
  position: absolute;
  width: 25%;
  right: -1%;
  bottom: 0%;
}

div .lista-prod{
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  margin-top: 15px;
  background-color: white;
}

.lista-prod ul{
  margin-bottom: 0;
}

.lista-prod ul li{
  background-color: white;
  border-top: solid 1px lightgrey;
  display: inline-flex;
  flex-wrap: wrap;
}

div .imagen{
  width: 25%;
}

.lista-prod ul li img{
  width: 100%;
  height: auto;
  align-items: center;
  margin: 5px;
}

.descrip-prod{
  padding: 10px;
  text-align: center;
  width: 75%;
}

h3{
  height: 15%;
  width: 100%;
}

.lista-prod ul li h3 strong{
  font-size: 50%;
}

.lista-prod ul li p{
  font-size: 80%;
  margin-bottom: 10px;
  height: 15%;
}

#ver-mas{
  font-size: 66%;
}

@media (min-width: 768px){
  .primavera{
    width: 50%;
  }

  div .prod1{
    width: 49%;
  }

  div .prod2{
    width: 49%;
  }

  .lancha{
    margin-top: 84px;
    margin-bottom: 20px;
  }

  div .envios{
    width: 40%;
  }

  div .photo-container{
    width: 50%;
    margin-left: 1px;
    margin-right: 1px;
  }

  div .lista-prod{
    width: 50%;
    margin: 15px auto;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  }

  .descrip-prod{
    padding-top: 20px;
  }

}

@media (min-width: 1024px){
  div .prod1{
    width: 24%;
  }

  div .prod2{
    width: 24%;
  }

  .lancha{
    margin-top: 73px;
    margin-bottom: 21px;
  }

  .lista-prod ul li h3 strong{
    font-size: 20px;
  }

  .descrip-prod{
    padding-top: 50px;
    font-size: 18px;
  }
}
