.head{
  top: 0;
}

.container-fluid{
  padding: 0;
  margin: 0;
}

h1{
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

div .lista-prod{
  width: 100%;
  display: inline-flex;
  margin-top: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.lista-prod ul{
  margin-bottom: 0;
}

.lista-prod ul li{
  background-color: white;
  border-top: solid 1px lightgrey;
  display: inline-flex;
  flex-wrap: wrap;
}

div .imagen{
  width: 25%;
  display: flex;
  align-items: center;
}

.lista-prod ul li img{
  width: 100%;
  align-items: center;
  margin: 5px;
}

label{
  font-size: 14px;
  width: 100%;
}

.numero-cant{
  width: 25%;
  text-align: center;
  margin-bottom: 10px;
}

.descrip-prod{
  display: inline-flex;
  padding: 10px;
  padding-top: 15px;
  width: 75%;
  flex-wrap: wrap;
  align-content: center;
}

.descripcion{
  font-size: 10px!important;
  color: gray;
}

.lista-prod ul li h3 strong{
  font-size: 50%;
}

.lista-prod ul li p{
  font-size: 80%;
  margin-bottom: 10px;
}

.cantidad{
  width: 55%;
}

.total{
  width: 100%;
  font-size: 13px;
  text-align: right;
  border-top: solid 1px lightgrey;
  border-bottom: solid 1px lightgrey;
  padding: 10px;
}

div .button{
  display: inline-flex;
}

.borrar{
  height: 29px;
}

#button-quitar{
  font-size: 10px;
  margin-top: 67px;
}

#agregar{
  margin-bottom: 15px;
  width: 100%;
  font-size: 10px;
}

#button-confirmar{
  font-size: 13px;
  height: 38px;
  padding: 0 15px;
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .descrip-prod{
    display: inline-flex;
    width: 50%;
    flex-wrap: wrap;
  }

  div .imagen{
    width: 20%;
    display: flex;
    align-items: center;
  }

  h3{
    font-size: 40px;
    width: 100%;
  }

  .descripcion{
    width: 100%;
    font-size: 10px!important;
  }

  .cantidad{
    width: 34%;
  }

}

@media (min-width: 1024px) {

  main{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  div .lista-prod {
    display: inline-flex;
    width: 50%;
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .numero-cant{
    width: 50%;
  }

  .cantidad{
    width: 38%;
  }

  #button-confirmar{
    width: 100%;
  }

}
