.head {
  top: 0;
}

.container-fluid{
  padding: 0;
  margin: 0;
  height: 82%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

h1{
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

.caja-principal{
  text-align: center;
}

#button {
  font-size: 13px;
  height: 38px;
  padding: 0 15px;
  width: 60%;
  margin-bottom: 5px;
}

img{
  width: 20%;
  text-align: center;
}

footer{
  position: absolute;
}

@media (min-width: 768px) {
  div .imagen{
    width: 20%;
    display: flex;
    align-items: center;
  }

@media (min-width: 1024px) {

  main{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  #button {
    width: 100%;
  }
}
