.head {
  top: 0;
}

.container-fluid{
  padding: 0;
}

.container {
  margin-top: 80px;
  width: 100%;
  justify-content: center;
  display: flex;
}

div .imagen{
  display: inline-flex;
  width: 80%;
  justify-content: center;
}

img{
  width: 80%;
  margin-bottom: 20px;
}

.precio{
  font-size: 25px;
}

.descrip-prod{
  background-color: white;
  border-radius: 2%;
  border: solid 1px lightgrey;
  padding: 15px;
  margin-bottom: 15px;
}

h3{
  text-align: center;
}

.caracts{
  font-size: 13px;
  text-align: center;
}

select{
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}

label{
  width: 28%;
  margin: 9px 0;
}

#cantidad{
  margin: 5px 0;
  width: 20%;
  text-align: center;
}

.botones{
  margin-bottom: 15px;
  width: 100%;

  justify-content: space-between;
}

div .button{
  display: inline-flex;
  width: 49%;
  border: 50px;
}

#button-compra{
  width: 100%;
}

#button-agregar{
  font-size: 13px;
  height: 38px;
  padding-right: 1px;
  padding-left: 1px;
  width: 100%;
}

@media (min-width: 768px){
  div .imagen{
    display: inline-flex;
    width: 40%;
    justify-content: center;
 }

 img{
   width: 40%;
 }

 select{
   width: 20%;
 }

 label{
   width: 10%;
 }

 #cantidad{
   margin-right: 31%;
   width: 10%;
 }

  div .button{
    width: 49%;
  }
}

@media (min-width: 1024px){
  div .imagen{
    width: 30%;
 }

  img{
    width: 30%;
    margin-bottom: 25px;
  }

  select{
    width: 10%;
  }

  label{
    width: 8%;
  }

  #cantidad{
    margin-right: 35%;
    width: 8%;
  }
}
