.head {
  top: 0;
}

.container-fluid{
  padding: 0;
}

.container {
  margin-top: 80px;
  width: 100%;
}

div .imagen{
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

img{
  width: 80%;
  margin-bottom: 25px;
}

.precio{
  font-size: 25px;
}

.descrip-prod{
  background-color: white;
  border-radius: 2%;
  border: solid 1px lightgrey;
  padding: 10px 10px;
  margin-bottom: 15px;
}

.caracts{
  font-size: 15px;
}

.botones{
  margin-bottom: 15px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

div .button{
  width: 49%;
}

#button-compra{
  width: 100%;
}

#button-agregar{
  font-size: 13px;
  height: 38px;
  padding-right: 1px;
  padding-left: 1px;
  width: 100%;
}

@media (min-width: 768px){
  div .imagen{
    display: inline-flex;
    width: 100%;
    justify-content: center;
 }

 img{
   width: 40%;

 }

  div .button{
    width: 48%;
  }

  #button-compra{
    width: 50%;
    float: right;
  }

  #button-agregar{
    width: 50%;
  }
}

@media (min-width: 1024px){

  img{
    width: 30%;
    margin-bottom: 25px;
  }

  #button-compra{
    width: 50%;
    float: right;
  }

  #button-agregar{
    width: 50%;
  }

}
