.container-fluid{
  width: 100%;
  padding: 0;
  align-content: center;
}

main{
  width: 100%;
  justify-content: center;
}

h1{
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 15px;
  padding-top: 20px;
}

.cajaPrincipal{
 width: 100%;
 display: inline-flex;
 width: 100%;
 flex-wrap: wrap;
 justify-content: center;
}

.bienvenida{
  width: 100%;
}

.perfil{
  text-align: center;
  font-size: 30px;
  margin-top: 16px;
  width: 100%;
}

.fotoPerfil{
  text-align: center;
  width: 20%;
  margin-bottom: 10px;
  border-radius: 10%;
  box-sizing: border-box;
}

.datos{
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.formulario{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.datos{
    text-align: center;
    width: 90%;
}

.campos{
  border: solid 1px lightgrey;
}

.parrafoAvatar{
  margin-bottom: 0rem;
}

.avatar{
  font-size: 12px;
  width: 38%;
  color: transparent;
}

p{
  font-size: 16px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

#parrafo-prov{
  display: block
}

.crearcuenta{
  width: 100%;
  text-align: center;
}

select{
  width: 70%;
}

label{
  width: 100%;
}

@media (min-width: 768px){
  .datos{
      text-align: center;
      width: 50%;
  }

  select{
    width: 40%;
  }
}

@media (min-width: 1024px){

  .container {
    margin-top: 80px;
  }

  .head {
    top: 0;
  }

  h1{
    width: 100%;
    text-align: center;
    font-size: 35px;
  }

  .perfil{
    font-size: 25px;
  }

  .fotoPerfil{
    width: 20%;
    border-radius: 10%;
    box-sizing: border-box;
  }


  main div .datos{
    width: 50%;
    text-align: center;
    float: left;
  }

  main div .actualizar{
    width: 100%;
    text-align: center;
    float: left;
  }

  select{
    width: 40%;
  }

}
