.productos{
  text-align: center;
  width: 40%;
  padding: 5px;
  border: 1px black solid;
  box-sizing: border-box;
  float: left;
}
.caja-principal{
  margin: 0px;
  width: 100%;
  overflow: hidden;
}
.paginacion{

}

footer{
  position: absolute;
}
