.container-fluid{
  width: 100%;
  padding: 0;
  align-content: center
}

main{
  width: 100%;
  justify-content: center;
}

h1{
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  margin-top: 10px;
}

.cajaPrincipal{
  width: 100%;
  background-color: white;
}

.formulario{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.datos{
    text-align: center;
    width: 100%;
}

p{
  font-size: 15px;
}

.subirProducto{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  main div .datos{
    width: 40%;
    margin-top: 2px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px){
  .container {
    margin-top: 80px;
  }

  .head {
    top: 0;
  }

  h1{
    width: 100%;
    text-align: center;
    font-size: 35px;
  }

  main div .datos{
    width: 40%;
    margin-top: 2px;
    margin-bottom: 20px;
  }

  main div .subirProducto{
    float: left;
  }
}
